entry {
    border: 2px solid #00a3c4;
    border-radius: 4px;
}

.button{
    color: #00a3c4;
    background-color: #00a3c4;
}

label {
    font-family: Arial, sans-serif;
    color: #333;
}
